<mat-card>
    <mat-card-header>
        <!-- El pipe recibe el heroe y retorna un path que puede ser online, estar en los asets, y si no tiene imagen cargar la por defecto  "assets/heroes/{{heroe.id}}.jpg" alt=""> -->
        <!-- <img mat-card-image [src]="heroe | imagen" alt=""> -->
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column">
            <!-- <p fxLayoutAlign="space-between">
                <strong>Categoria:</strong> {{articulo.categoria.nombre}}
            </p> -->
            <p *ngIf="esAlgunTipoDeBebida()" fxLayoutAlign="space-between">
                <strong>Producto:</strong> <span >{{articulo.marca}}</span>
            </p>
            <p  *ngIf="noEsNingunTipoDeBebida()" fxLayoutAlign="space-between">
                <strong>Producto:</strong> <span >{{articulo.nombre}}</span>
            </p>
            <p fxLayoutAlign="space-between">
                <strong>Marca:</strong> <span>{{articulo.marca}}</span>
            </p>
            <p fxLayoutAlign="space-between">
                <strong>Cantidad:</strong> {{articulo.cantidad}}
            </p>
            <p fxLayoutAlign="space-between">
                <strong>Medida:</strong> {{articulo.medida}}
            </p>
            <!-- <p fxLayoutAlign="space-between">
                <strong>Descripción:</strong> {{articulo.descripcion}}
            </p> -->

        </div>

    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center">
        <button [disabled]="esInvitado" mat-raised-button color="warn" (click)="eliminar(index)">
            <mat-icon id="icono-eliminar" class="mr-1">delete</mat-icon>
           Eliminar
        </button>
        <!-- <button mat-button color="warn" (click)="navegar(articulo.id!, 'ver')">

            Leer más ...
        </button>


        <button mat-button color="" (click)="navegar(articulo.id!, 'editar')">
            Editar
        </button> -->
    </mat-card-actions>
</mat-card>