<mat-card>
    <mat-card-header>
        <!-- El pipe recibe el heroe y retorna un path que puede ser online, estar en los asets, y si no tiene imagen cargar la por defecto  "assets/heroes/{{heroe.id}}.jpg" alt=""> -->
        <!-- <img mat-card-image [src]="heroe | imagen" alt=""> -->
    </mat-card-header>

    <mat-card-content>

        <div fxLayout="column">
            <!-- <p fxLayoutAlign="space-between">
                <strong>Categoria:</strong> {{invitado.categoria.nombre}}
            </p> -->
            <p fxLayoutAlign="space-between">
                <strong>Nombre:</strong> <span >{{invitado.nombre}}</span>
            </p>
            <p fxLayoutAlign="space-between">
                <strong>Apellido:</strong> <span >{{invitado.apellido}}</span>
            </p>
       
            <!-- <p fxLayoutAlign="space-between">
                <strong>Descripción:</strong> {{invitado.descripcion}}
            </p> -->

        </div>

    </mat-card-content>

    <mat-card-actions fxLayoutAlign="center">
        <button mat-raised-button color="warn"fxLayoutAlign="center" (click)="eliminar(invitado.id!)">
            <mat-icon id="icono-eliminar" class="mr-1">delete</mat-icon>
           Eliminar
        </button>

        <button mat-raised-button color="accent" fxLayoutAlign="center"  (click)="mostrarArticulos(invitado.articulos)">
            Ver Articulos
        </button>
    </mat-card-actions>
</mat-card>