<div id="div1" fxLayoutAlign="center center" [ngStyle]="{'height.%':100,'background':'#f5f5f5'}">
  
    <div id="div2"  fxFlex="30" fxLayout="column" fxLayoutAlign="none center">
        <mat-spinner *ngIf="loading"  diameter="50"></mat-spinner>
        <img src="./assets/login-crud/usuario.png" alt="" width="50%">
  
        <h1>Login</h1>

        

       <form *ngIf="!loading" [formGroup]="formulario" (ngSubmit)="ingresar()">
        <mat-form-field appearance="fill" [ngStyle]="{'width.%':100}">
            <mat-label>Usuario</mat-label>
            <input matInput  autocomplete="off" formControlName="usuario">
        </mat-form-field>

        <mat-form-field appearance="fill"  [ngStyle]="{'width.%':100}">
            <mat-label>Contraseña</mat-label>
            <input matInput type="password" autocomplete="off" formControlName="password">
        </mat-form-field>      

        <button mat-raised-button color="primary" type="submit"[ngStyle]="{'width.%':100,'height.em':3}" [disabled]="formulario.invalid">Ingresar</button>

       </form>
    </div>
    
</div>