  <!-- <div class="separar">
    <div fxLayout="column" fxLayoutAlign="center center" >
        <button mat-button [disabled]="bloquearBotonDeMensaje" [ngStyle]="{'background':'#FF6081','fontSize.em' : 1.2}" (click)="abrirCajaDeMensaje()">
          <mat-icon>email</mat-icon>
          {{textoBotonMensaje}}
        </button>
        </div>
        
        <mat-card *ngIf="mostrarContenidoDelMensaje()">
          <p>
            {{invitado.mensaje}}
          </p>
        </mat-card>
    
        <mat-card *ngIf="bloquearBotonDeMensaje" class="example-card" fxFill>
            <mat-card-content > 
              <mat-form-field  class="mr-4" fxFill >
                <mat-label>
                  <mat-icon></mat-icon> Mensaje:
                </mat-label>
              
                  <textarea matInput 
                     placeholder="Escribir mi mensaje"[(ngModel)]="invitado.mensaje" >
                  </textarea>
               
              </mat-form-field>
                        
            </mat-card-content>
            <mat-card-actions fxLayoutAlign="space-around">
              <button mat-button [ngStyle]="{'color':'#FF6081'}" (click)="guardarMensaje()"><b>GUARDAR</b></button>
              <button mat-button (click)="cancelarGuardar()">CANCELAR</button>
            </mat-card-actions>
        </mat-card>
        
  
  </div> -->
